<!doctype html>
<html>

<head>
  <title>Project</title>
</head>

<body>
<a href='/'>[Home]</a><a href='/about'>[About]</a><a href='/project'>[Project]</a>

 <h1>Project Information:</h1>

<p>Ogre Inc. is creating a lilbrary web application to book study rooms. We are using the MERN Stack. <br />
    Using our tenchincal skills, we will be developing this for Indiana University Kokomo. Our point of contact <br />
    for this web application is Michael Mohkamkar. </p><p></p>
</p>


</body>

<footer>&copy; Ogre Inc </footer>

</html>